<div class="row">
    <a href="#!/admin/companies">
        <div class="col-xs-12">
            Manage Companies
        </div>
    </a>
</div>

<div class="row">
    <a href="#!/admin/correspondences">
        <div class="col-xs-12">
            Manage Correspondence
        </div>
    </a>
</div>

<div class="row">
    <a href="#!/admin/users">
        <div class="col-xs-12">
            Manage Users
        </div>
    </a>
</div>

<div class="row">
    <a href="#!/admin/document">
        <div class="col-xs-12">
            View documents
        </div>
    </a>
</div>

<div class="row">
    <a href="#!/admin/invoice">
        <div class="col-xs-12">
            Invoice
        </div>
    </a>
</div>

<div class="row">
    <a href="#!/admin/payment">
        <div class="col-xs-12">
            View Payments
        </div>
    </a>
</div>

<div class="row">
    <a href="#!/admin/log">
        <div class="col-xs-12">
            View Logs
        </div>
    </a>
</div>

<div class="row">
    <a href="#!/admin/software">
        <div class="col-xs-12">
            Manage Software
        </div>
    </a>
</div>

<div class="row">
    <a href="#!/admin/softwareKeys">
        <div class="col-xs-12">
            Manage Software Keys
        </div>
    </a>
</div>



<div class="row">
    <a href="#!/admin/software">
        <div class="col-xs-12">
            Manage Software 
        </div>
    </a>
</div>

