<div class="row red">

    <div class="col-xs-12 col-sm-3">
        <img class="img-responsive" src="/static/images/qualitaxas-logo-75.png">
    </div>    
    <div class="col-xs-12 col-sm-3  col-sm-offset-6">
        <div class="row">
            <div class="contact col-xs-12">
                <span class="email">
                    <a href = "mailto: abc@example.com">
                        <button>
                            Send an Email
                        </button>
                    </a>
                </span>
            </div>
            <div class="contact col-xs-12">
                <span class="phone"><a href="tel:3177594940"> (317) 759-4940 </a></span>
            </div>
        </div>

    </div>    
    <div class="col-xs-12">
        <h1 class="display-1">Marketing Headliner Goes Here.</h1>
    </div>    
    
</div>

<div class="row green">
  green
</div>

<div class="row blue">
  b
</div>

