<div class="col-xs-12">
<h1>[{name}]</h1>
<hr/>
<h2>Add a [{name}]</h2>
<form name="companyForm" ng-submit="submit();">
    <fieldset class="row">
        <div class="col-xs-6">
            <label>Name</label>
            <input type="text" ng-model="newCompany.name">
        </div>
        <div class="col-xs-6" ng-if="isLogoUrlHidden">
            <label>Logo Url</label>
            <input type="url" ng-model="newCompany.img_url" novalidate>
        </div>
        <div class="col-xs-6" ng-if="!isLogoUrlHidden">
            <label>Logo</label>
            <input name="file" type="file" ng-model="newCompany.logo_file" novalidate>
        </div>
        <div >
          Choose by
          <button type="button" ng-click="hideLogoUrl()" ng-if="!isLogoUrlHidden">Logo Url</button>
          <button type="button" ng-click="hideLogoUrl()" ng-if="isLogoUrlHidden">Logo File</button><br/>
        </div>
    </fieldset>
    <fieldset class="row">
        <div class="col-xs-6">
            <label>Website</label>
            <input type="url" ng-model="newCompany.website">
        </div>
        <div class="col-xs-6">
            <label>Email</label>
            <input type="email" ng-model="newCompany.email">
        </div>
        <div class="col-xs-6">
            <label>Phone</label>
            <input type="tel" ng-model="newCompany.phone">
        </div>
    </fieldset>
    <fieldsetclass="row">
        <div>
            <label>Zip Code</label>
            <input type="text" id="zip" ng-model="newCompany.zip_code" ng-keyup="autoFillZipNew()" maxlength="10">
            <span ng-if="error">Zip Code [{error}]</span>
        </div>
        <div class="col-xs-12" ng-show="showCity">
            <label>City</label>
            <span id="city_shown"></span>
            <input ng-value="newCompany.city" id="city" ng-disabled="true">
            <label>State</label>
            <span  id="state_shown"></span>
            <input ng-value="newCompany.state" id="state" ng-disabled="true">
        </div>
        <div class="col-xs-12">
            <label>Address 1</label>
            <input type="text" id="address-line-1" ng-model="newCompany.address1">
        </div>
        <div class="col-xs-12">
            <label>Address 2</label>
            <input type="text" id="address-line-2" ng-model="newCompany.address2">
        </div>
    </fieldset>
    <input  type="submit" id="submit" value="Submit" >
</form>
<p class="zip-error"></p>
<h2>Companies</h2>
<table class="col-xs-12" >
  <thead>
    <tr>
        <th>Name</th>
        <th>Phone</th>
        <th>Website</th>
        <th>Email</th>
        <th>Address1</th>
        <th>Address2</th>
        <th>City</th>
        <th>State</th>
        <th >Zip</th>
        <th>Logo Url</th>
    </tr>
  </thead>
  <tbody ng-repeat="company in companies">
    <tr ng-show = "!(isShowForm(company.id))">
      <td>[{company.name}]</td>
      <td>[{company.phone}]</td>
      <td>[{company.website}]</td>
      <td>[{company.email}]</td>
      <td>[{company.address.split("|")[0]}]</td>
      <td>[{company.address.split("|")[1]}]</td>
      <td>[{company.city}]</td>
      <td>[{company.state}]</td>
      <td>[{company.zip_code}]</td>
      <td><span style="width: 500px; word-break: break-all; word-wrap: break-word;">[{company.img_url}]</span></td>
      <td><a href="#!/admin/company/[{company.id}]"><button>view</button></a></td>
      <td><button type="button"  ng-click="showUpdateForm(company.id)">update</button></td>
      <td><button type="button" ng-click="activateCompany(company.id)" ng-if="!company.active">activate</button></td>
      <td><button type="button" ng-click="activateCompany(company.id)" ng-if="company.active">inactivate</button></td>
    </tr>
    <tr ng-show = "isShowForm(company.id)">
      <td><input type="text" ng-model="updateCompanyData[company.id].name"></td>
      <td><input type="text" ng-model="updateCompanyData[company.id].phone"></td>
      <td><input type="text" ng-model="updateCompanyData[company.id].website"></td>
      <td><input type="text" ng-model="updateCompanyData[company.id].email"></td>
      <td><input type="text" ng-model="updateCompanyData[company.id].address1"></td>
      <td><input type="text" ng-model="updateCompanyData[company.id].address2"></td>
      <td><input type="text" ng-model="updateCompanyData[company.id].city" ng-required="updateCompanyData[company.id].required" ng-disabled="updateCompanyData[company.id].disabled"></td>
      <td><input type="text" ng-model="updateCompanyData[company.id].state" ng-required="updateCompanyData[company.id].required" ng-disabled="updateCompanyData[company.id].disabled"></td>
      <td><input type="text" ng-model="updateCompanyData[company.id].zip_code" ng-keyup="autoFillZipUpdate(company.id)" ></td>
      <td><input type="text" ng-model="updateCompanyData[company.id].img_url"></td>
      <td><button type="button" ng-click="updateCompany(company.id)">save</button></td>
      <td><button type="button" ng-click="hideUpdateForm(company.id)">cancel</button></td>
    </tr>
  </tbody>
</table>
</div>
