.red {
  background: url("/static/images/woman_w_coffee.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 768px; }
  .red h1 {
    text-align: center;
    color: #EEFFEE;
    margin-top: 300px; }
    .red img {
      padding: 10px 0 0 10px; }
      .red .contact {
        padding: 15px 0 0 0;
        text-align: center;
        font-size: 30px; }
        .red span {
          color: #FFFFFF; }

.green {
  background: #EEFFEE;
  height: 400px; }

  .blue {
    background: url("/static/images/woman_w_coffee.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 400px; }
